################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BE/WEB_API/.vs/WEB_API/v16/Server/sqlite3/storage.ide-shm
